// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#grav img {
  width: 100%;
  height: auto;
}

.page-header {
  text-align: center;
}

.form-actions {
  margin-left: 20em;
  margin-right: 20em;
}
